.daybtn {
    margin: 5px;
    width: 50px;
    height: 40px;
}

.daybtn:hover, .daybtn:active, .daybtn:focus {
  background-color: orange;
}

.navbutton {
    margin-top: 5px;
    margin-bottom: 5px;
}

.monthbutton {
    margin: 10px;
}

.col-centered{
    margin: auto ;
    margin-bottom: 15px;
}

tbody {
    outline: 1px solid black;
}

th, td, tr {
    text-align: center;
}

th {
    background-color: orange;
}

thead {
    outline: black solid 1px !important;
}
