.routerlinkbutton {
    background-color: white;
    margin-bottom: 15px;
}

.monthbutton {
    margin: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

table {
    border-spacing: 0px;
}

th {
    background-color: orange;
}

th, td, tr {
    text-align: center;
    border: black solid 1px !important;
}
