.daybtn {
    margin: 5px;
    width: 50px;
    height: 40px;
}

.navbutton {
    margin-top: 5px;
    margin-bottom: 5px;
}
.monthbutton {
    margin: 10px;
}

.col-centered{
    margin: auto ;
    margin-bottom: 15px;
}

table {
    border-spacing: 0px;
     border-radius: 0px;
    margin: 0px auto;
    float: none;
    margin-bottom: 15px;
}

th {
    background-color: orange;
}

th, td, tr {
    text-align: center;
    border: black solid 1px !important;
}
