div {
  text-align: center;
}

table {
  display: inline-table;
  width: 70%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-centered{
    margin: auto ;
    margin-bottom: 15px;
}