<div class="center-block text-center">

    <div class="col-md-12">

        <form (ngSubmit)="createEvent(event)" #eventForm="ngForm">
            

<div class="form-group row">
    <label for="title" class="col-2 col-form-label">Title</label>
    <div class="col-10">
        <input type="text" class="form-control" id="title" required name="title" #title='ngModel' [(ngModel)]="event.title">
    </div>
</div>
<div class="form-group row">
    <label for="location" class="col-2 col-form-label">Location</label>
    <div class="col-10">
        <input type="text" class="form-control" id="location" required name="location" #location='ngModel' [(ngModel)]="event.location">
    </div>
</div>

<div class="form-group row">
  <label for="date" class="col-2 col-form-label">Date</label>
  <div class="col-10">
    <input class="form-control" type="date" placeholder="DD.MM.RRRR" id="date-input" name="eventDate" #date='ngModel' [(ngModel)]="event.eventDate">
  </div>
</div>


 <button type="Submit" class="btn btn-primary" [disabled]="!eventForm.form.valid">Add event</button>
        </form>
    
